@let contestTitle = ballotStore.currentContest().contestTitle;
@if (ballotStore.isLoading()) {
  <div class="loading">Loading...</div>
}

<div class="horizontal-scroll-container">
  @for (contest of ballotStore.allContests(); track $index) {
    <div
      [id]="'menu-item:' + contest.id"
      class="menu-item"
      [class.selected]="contest.id.toString() === selectedContest()"
      (click)="loadContestById(contest.id)"
      (keydown)="loadContestById(contest.id)"
      tabindex="0">
      {{ contest.contestTitle }}
    </div>
  }
</div>

<div class="candidate-container">
  <div
    cdkDropList
    #rankedList="cdkDropList"
    id="rankedDropList"
    [class.border-on-empty]="candidatesRanked().length === 0"
    [cdkDropListData]="candidatesRanked()"
    [cdkDropListConnectedTo]="[availableList]"
    (cdkDropListDropped)="drop($event)">
    <div class="candidate-list ranked">
      @for (ranked of candidatesRanked(); track ranked.id) {
        <div cdkDrag class="candidate" id="cand-{{ ranked.candidateId }}" [attr.tabindex]="ranked.candidateId">
          <span
            class="move-candidate-up"
            cdkDragHandle
            (click)="moveUpOnePosition(ranked)"
            (keydown)="moveUpOnePosition(ranked)"
            tabindex="1">
            @if ($index !== 0) {
              &#8593;
            }
          </span>
          <span class="sort-handle" cdkDragHandle></span>
          <span class="candidate-index" cdkDragHandle>{{ $index + 1 }}</span>
          <span
            class="candidate-ranked"
            cdkDragHandle
            [routerLink]="['/content', ranked.asset.mediaType + '.^.' + ranked.asset.location]"
            >{{ ranked.candidateName }}</span
          >
          <button class="move-candidate-down" (click)="moveDownOnePosition(ranked)">&#8595;</button>
        </div>
      } @empty {
        <p>Ready to accept your preferences for {{ contestTitle }}.</p>
        <p>Drag and reorder candidates here.</p>
      }
    </div>
  </div>
  @if (candidatesAvailable().length !== 0) {
    <div class="contestTitle">
      <span>-</span>
      <span
        >Candidates for {{ contestTitle }}. Contest Closes:
        {{ ballotStore.currentContest().closes | date: 'E M/d/yyyy' }}</span
      >
      <span>-</span>
    </div>
  }

  <div
    cdkDropList
    #availableList="cdkDropList"
    id="availableDropList"
    [cdkDropListData]="candidatesAvailable()"
    [cdkDropListConnectedTo]="[rankedList]"
    (cdkDropListDropped)="drop($event)">
    <div class="candidate-list available">
      @for (unranked of candidatesAvailable(); track unranked; let theCount = $count) {
        <div
          cdkDrag
          class="candidate"
          (click)="moveToSelected(unranked)"
          (keydown)="moveToSelected(unranked)"
          [attr.tabindex]="unranked.candidateId">
          <a class="candidate-unranked" [routerLink]="false ? ['/content', unranked.candidateId] : null">{{
            unranked.candidateName
          }}</a>
          <span class="add-candidate"></span>
        </div>
      } @empty {
        Finished all {{ ballotStore.contestSlate().slateMemberViews.length }} candidates for
        {{ ballotStore.currentContest().contestTitle }}.
      }
    </div>
  </div>
</div>
