<div class="header">
  <a (click)="goBack()" (keydown)="goBack()" tabindex="0"> Done </a>
  <span class="title">Ranking 1 Demo</span>
  <a (click)="logToConsole()" (keydown)="logToConsole()" tabindex="0">Log to Console</a>
</div>

<div class="content">
  @switch (assetData().mediaType) {
    @case ('image') {
      <img [src]="sanitizedUrl()" alt="Content Image" />
    }
    @case ('youtube') {
      <div class="container" [ngStyle]="{ 'padding-bottom': assetData().paddingBottom }">
        <iframe
          frameborder="4"
          scrolling="no"
          allowfullscreen
          [src]="sanitizedUrl()"
          allow="autoplay; encrypted-media"></iframe>
      </div>
    }
    @default {
      <div class="error">
        <p>Sorry, there was an error loading this content.</p>
        <p>The following input was not resolvable.</p>
        <p>mediatype: {{ mediaType() }}, sourceId: {{ sourceId() }}</p>
      </div>
    }
  }
</div>
