body {
    font-family: "Helvetica Neue", sans-serif;
    background-color: #002;
    color: #CCF;
    margin: auto;
    width: 100%; // Ensure the body takes full width of the viewport
    max-width: 100%; // Prevent the body from exceeding the viewport width
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    color: whitesmoke;
    margin-top: 7px;    
    padding: 10px 15px;
    font-weight: bold;
  
  .title {
      flex-grow: 1;
      text-align: center;
      color: #CCF;
      font-size: 15px;
    }
  }

  @media (max-width: 600px) {
    body {
      font-size: 1rem; // Adjust font size for better readability on small screens
      padding: 0 0.5rem; // Adjust padding for smaller screens
    }
  }
  
  @media (min-width: 601px) {
    body {
      max-width: 600px; // Set max-width to 600px for larger screens
    }
  }